<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="log4net.Internal.Debug" value="true"/>
      <add key="dbhost" value="210.211.124.16"/>
      <add key="dbname" value="Pastaxi-Developer-V2"/>
      <add key="dbuser" value="ductd"/>
      <add key="dbpasword" value="!Q2w3e4r5t@@"/>
      <add key="eldb" value="http://210.211.124.20:9200"/>
      <add key="index" value="pasgosearch"/>
      <add key="type" value="ChiNhanhDoiTac"/>
    </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="C:\Users\onepas\Desktop\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>